<!-- Can also be defined in ejs routing with more number of variables -->

<% if(success_msg != '') { %>
    <div style="color: green;"><%= success_msg %></div>
<% } %>

<% if(error_msg != '') { %>
    <%= error_msg %>
<% } %>