<nav class="navbar navbar-expand-sm">
    <img src="logo.jpg" id="logo">
<ul class="navbar-nav ml-auto" id="right-nav">
    <li class="nav-item"><a href="/adminLogin" class="nav-link" id="navbar-right-link"><i class="far fa-user"></i> Login as an Admin</a></li>
    <li class="nav-item"><a href="#" class="nav-link" id="navbar-right-link"><i class="fas fa-at"></i></i> Contact Us</a></li>
</ul>
</nav>