<!DOCTYPE html>
<html>
    <head>
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
            <style>
                .jumbotron{
                    background-color: aquamarine;
                }
                h2{
                    margin-top: 10%;
                    text-align: center;
                }
                .btn{
                    margin-top: 10%;
                }
            </style>
    </head>
    <body>
        <div class="container">
        <h1 class="jumbotron">Payment Successful</h1>
        <h2>Please Login back to the Customer Panel</h2>
        <a href="customer.html" class="btn btn-block btn-lg btn-success"><span class="glyphicon glyphicon-home"></span> Customer Login</a>
        </div>
    </body>
</html>